<div class="details">
    <form action="cube/{{_id}}/details" method="POST">
        <Label><Input type="text" name="name" value="{{name}}"></Input></Label>
        <Label><Input type="text" name="description" value="{{description}}"></Input></Label>
        <Label><Input type="text" name="imageUrl" value="{{imageUrl}}"></Input></Label>
        <Label><Input type="number" name="difficulty" value="{{difficulty}}"></Input></Label>
        <input type="submit" value="EDIT DETAILS">
    </form>
</div>